[Unit]
Description=Fire pacat-simple-vchan for each qube that can play sound

[Service]
Type=simple
User=user
Group=user
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/liteqube-pulseaudio-daemon
Restart=always
RestartSec=10
