[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hide/Show nm-applet depending on NetworkManager state
;Exec=/usr/lib/qubes/show-hide-nm-applet.sh
Terminal=false
Type=Application
OnlyShowIn=X-QUBES;
