[Unit]
Description=Monitor WiFi signal strength and report over qubes interface
ConditionPathExists=/usr/local/bin/liteqube-wifi-monitor-signal
Requires=NetworkManager
After=NetworkManager

[Service]
Type=simple
User=root
Group=root
StandardOutput=journal
StandardError=journal
ExecStart=/bin/sh /usr/local/bin/liteqube-wifi-monitor-signal
Restart=always
RestartSec=10
