[Unit]
Description=Connect to SSH server and open SOCKS5 port

[Service]
Type=simple
User=user
Group=user
StandardOutput=journal
StandardError=journal
Environment="SSH_AUTH_SOCK=/home/user/.ssh/ssh-agent-core-keys"
ExecStartPre=/usr/bin/qrexec-client-vm dom0 liteqube.SignalVPN+connecting
ExecStartPre=/bin/sudo /bin/systemctl start liteqube-split-ssh.socket
ExecStart=/usr/bin/ssh -D 127.0.0.1:1080 -o StrictHostKeyChecking=no -q -C -N -p 443 user@myserver.dyndns.org
ExecStartPost=/bin/sh -c "until netstat -pntl | grep 1080 >/dev/null; do sleep 3; done; /usr/bin/qrexec-client-vm dom0 liteqube.SignalVPN+connected; /bin/sudo /bin/systemctl stop liteqube-split-ssh.socket"
ExecStopPost=/usr/bin/qrexec-client-vm dom0 liteqube.SignalVPN+disconnected
Restart=always
RestartSec=30
